[submodule "zkevm-node"]
	path = zkevm-node
	url = git@github.com:EspressoSystems/zkevm-node
[submodule "zkevm-contracts"]
	path = zkevm-contracts
	url = git@github.com:EspressoSystems/zkevm-contracts.git
[submodule "lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0

[submodule "contracts/lib/solidity-bytes-utils"]
	path = contracts/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
	branch = v0.8.0
