[workspace.package]
version = "0.1.0"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2021"

[workspace]

resolver = "2"

members = [
  "builder",
  "contract-bindings",
  "contracts/rust/adapter",
  "contracts/rust/diff-test",
  "contracts/rust/gen-vk-contract",
  "hotshot-state-prover",
  "sequencer",
  "utils",
]

[workspace.dependencies]
anyhow = "^1.0"
ark-std = "0.4"
ark-bls12-381 = "0.4"
ark-bn254 = "0.4"
ark-ec = "0.4"
ark-ed-on-bn254 = "0.4"
ark-ff = "0.4"
ark-poly = "0.4"
ark-serialize = "0.4"
ark-srs = "0.2.0"
async-compatibility-layer = { git = "https://github.com/EspressoSystems/async-compatibility-layer", tag = "1.4.1", features = [
  "logging-utils",
] }
async-std = { version = "1.12.0", features = ["attributes", "tokio1"] }
async-trait = "0.1"
base64 = "0.22"
base64-bytes = "0.1"
clap = { version = "4.4", features = ["derive", "env", "string"] }
cld = "0.5"
committable = "0.2"
derive_more = "0.99.17"
es-version = { git = "https://github.com/EspressoSystems/es-version", branch = "main" }
dotenvy = "0.15"
ethers = { version = "2.0", features = ["solc"] }
futures = "0.3"

# Hotshot imports
hotshot = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-builder-api = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-builder-core = { git = "https://github.com/EspressoSystems/hotshot-builder-core", branch = "nfy/update-hs-dep" }
hotshot-events-service = { git = "https://github.com/EspressoSystems/hotshot-events-service", tag = "0.1.6" }
hotshot-orchestrator = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-query-service = { git = "https://github.com/EspressoSystems/hotshot-query-service", tag = "0.1.7" }
hotshot-stake-table = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-state-prover = { version = "0.1.0", path = "hotshot-state-prover" }
hotshot-task = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-testing = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-types = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }
hotshot-web-server = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.37" }

# Push CDN imports
cdn-broker = { git = "https://github.com/EspressoSystems/Push-CDN", features = [
  "runtime-async-std",
  "global-permits",
], tag = "0.1.25", package = "cdn-broker" }
cdn-marshal = { git = "https://github.com/EspressoSystems/Push-CDN", features = [
  "runtime-async-std",
  "global-permits",
], tag = "0.1.25", package = "cdn-marshal" }

jf-plonk = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.3", features = [
  "test-apis",
] }
jf-primitives = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.3", features = [
  "std",
] }
jf-relation = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.3", features = [
  "std",
] }
jf-utils = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.3" }
snafu = "0.8"
strum = { version = "0.26", features = ["derive"] }
surf-disco = "0.6"
tagged-base64 = "0.4"
tide-disco = "0.6"
tracing = "0.1"
trait-variant = "0.1"
bytesize = "1.3"
itertools = "0.12"
rand_chacha = "0.3"
rand_distr = "0.4"
serde = { version = "1.0.195", features = ["derive"] }
toml = "0.8"
url = "2.3"
vbs = "0.1.4"
zeroize = "1.7"
