[workspace]

resolver = "2"

members = ["contract-bindings", "contracts/rust", "sequencer", "utils"]

[workspace.dependencies]
hotshot = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-orchestrator = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-signature-key = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-stake-table = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-types = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-web-server = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }
hotshot-testing = { git = "https://github.com/EspressoSystems/hotshot", rev = "ddb8d6f8d058ea456b2c11241cc67b821d77aeee" }

jf-plonk = { git = "https://github.com/EspressoSystems/jellyfish", features = [
  "test-apis",
  "test-srs",
] }
jf-primitives = { git = "https://github.com/EspressoSystems/jellyfish", features = [
  "std",
  "test-srs",
] }
jf-relation = { git = "https://github.com/EspressoSystems/jellyfish", features = [
  "std",
] }
jf-utils = { git = "https://github.com/EspressoSystems/jellyfish" }

surf-disco = { git = "https://github.com/EspressoSystems/surf-disco", tag = "v0.4.3-patch.1" }
tide-disco = { git = "https://github.com/EspressoSystems/tide-disco", tag = "v0.4.3" }
