[workspace.package]
version = "0.1.0"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2021"

[workspace]

resolver = "2"

members = [
  "builder",
  "contract-bindings",
  "contracts/rust/adapter",
  "contracts/rust/diff-test",
  "contracts/rust/gen-vk-contract",
  "hotshot-state-prover",
  "sequencer",
  "utils",
]

[workspace.dependencies]
anyhow = "^1.0"
ark-std = "0.4"
ark-bls12-381 = "0.4"
ark-bn254 = "0.4"
ark-ec = "0.4"
ark-ed-on-bn254 = "0.4"
ark-ff = "0.4"
ark-poly = "0.4"
ark-serialize = "0.4"
ark-srs = "0.3.1"
async-compatibility-layer = { version = "1.2.1", default-features = false, features = [
  "logging-utils",
] }
async-once-cell = "0.5"
async-std = { version = "1.12.0", features = ["attributes", "tokio1"] }
async-trait = "0.1"
base64 = "0.22"
base64-bytes = "0.1"
bincode = "1.3.3"
blake3 = "1.5"
clap = { version = "4.4", features = ["derive", "env", "string"] }
cld = "0.5"
derive_more = "0.99.17"
es-version = { git = "https://github.com/EspressoSystems/es-version.git", branch = "main" }
dotenvy = "0.15"
ethers = { version = "2.0", features = ["solc"] }
futures = "0.3"

hotshot = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
# Hotshot imports
hotshot-builder-api = { git = "https://github.com/EspressoSystems/HotShot.git", tag = "0.5.60" }
hotshot-builder-core = { git = "https://github.com/EspressoSystems/hotshot-builder-core", tag = "rc-0.1.31-patch-1" }
hotshot-events-service = { git = "https://github.com/EspressoSystems/hotshot-events-service.git", tag = "rc-0.1.31" }
hotshot-orchestrator = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
hotshot-query-service = { git = "https://github.com/EspressoSystems/hotshot-query-service", tag = "rc-0.1.43" }
hotshot-stake-table = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
hotshot-state-prover = { version = "0.1.0", path = "hotshot-state-prover" }
hotshot-task = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
hotshot-testing = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
hotshot-types = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }
hotshot-contract-adapter = { version = "0.1.0", path = "contracts/rust/adapter" }
# Temporary, used to pull in the mock auction results provider
hotshot-example-types = { git = "https://github.com/EspressoSystems/hotshot", tag = "0.5.60" }

# Push CDN imports
cdn-broker = { git = "https://github.com/EspressoSystems/Push-CDN", features = [
  "runtime-async-std",
  "global-permits",
], tag = "0.4.2", package = "cdn-broker" }
cdn-marshal = { git = "https://github.com/EspressoSystems/Push-CDN", features = [
  "runtime-async-std",
  "global-permits",
], tag = "0.4.2", package = "cdn-marshal" }

jf-plonk = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "test-apis",
] }
jf-crhf = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5" }
jf-merkle-tree = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
] }
jf-signature = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
] }
jf-pcs = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
  "parallel",
] }
jf-vid = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
  "parallel",
] }
jf-rescue = { version = "0.1.0", git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
  "parallel",
] }
jf-relation = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5", features = [
  "std",
] }
jf-utils = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.4.5" }
libp2p = { version = "0.53", default-features = false }
snafu = "0.8"
strum = { version = "0.26", features = ["derive"] }
surf-disco = "0.8"
tagged-base64 = "0.4"
tide-disco = "0.8"
thiserror = "1.0.61"
time = "0.3"
tracing = "0.1"
bytesize = "1.3"
itertools = "0.12"
rand_chacha = "0.3"
rand_distr = "0.4"
reqwest = "0.12"
serde = { version = "1.0.195", features = ["derive"] }
toml = "0.8"
url = "2.3"
vbs = "0.1"
vec1 = "1.12"
vergen = { version = "8.3", features = ["git", "gitcl"] }
zeroize = "1.7"
committable = "0.2"
portpicker = "0.1.1"
pretty_assertions = "1.4"

[patch."https://github.com/EspressoSystems/HotShot.git"]
hotshot = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-builder-api = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-orchestrator = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-stake-table = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-task = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-testing = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }
hotshot-types = { git = "https://www.github.com/EspressoSystems/hotshot", tag = "0.5.60-patch1" }