# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, they will be requested for review when someone
# opens a pull request.

*       @nomaxg @philippecamacho @ImJeremyHe @sveitser @jbearer

#  Dependabot PRs
*.toml  @nomaxg @philippecamacho @ImJeremyHe @sveitser
*.lock  @nomaxg @philippecamacho @ImJeremyHe @sveitser
