[profile.default]
# Note that if we want to move the `./contracts` directory into it's own repo we
# need to move the foundry.toml and remove the `./contracts` prefix from the
# directories below.
src = 'contracts/src'
out = 'contracts/out'
test = 'contracts/test'
libs = ['contracts/lib']
script = "contracts/script"
broadcast = "contracts/broadcast"

# Version should match the solc installed via flake, otherwise the contract
# artifacts may differ slightly.
solc = "0.8.20"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[rpc_endpoints]
local = "http://localhost:8545"
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
