# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/*/900/
/broadcast/**/dry-run/
/broadcast/LightClientCallNewFinalizedState.s.sol
/broadcast/DeployLightClientTestScript.s.sol

# Dotenv file
.env

.wake
pytypes
__pycache__/
*.py[cod]
.hypothesis/
wake-coverage.cov