name: Build

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RUST_LOG: info
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching

      - name: Build
        # Build in release without `testing` feature, this should work without `hotshot_example` config.
        run: |
          cargo build --workspace --release

      - name: Format Check
        run: cargo fmt -- --check

      # Run Clippy on all targets. The lint workflow doesn't run Clippy on tests, because the tests
      # don't compile with all combinations of features.
      - name: Clippy(all-features)
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings

      # Install nextest
      - name: Install Nextest
        run: cargo install cargo-nextest
      
      - name: Test
        run: |
          cargo nextest run --workspace --release --all-features
        timeout-minutes: 60
        
      - name: Clippy(no-storage)
        run: cargo clippy --workspace --features no-storage --all-targets -- -D warnings

      - name: Generate Documentation
        run: |
          cargo doc --no-deps --lib --release --all-features
          echo '<meta http-equiv="refresh" content="0; url=hotshot_query_service">' > target/doc/index.html

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          cname: tide-disco.docs.espressosys.com
  test-sqlite:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: '--cfg async_executor_impl="async-std" --cfg async_channel_impl="async-std"'
      RUST_LOG: info
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching

       # Install nextest
      - name: Install Nextest
        run: cargo install cargo-nextest
      
      - name: Test
        run: |
          cargo nextest run --workspace --release --all-features
        timeout-minutes: 60

  test-postgres:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: '--cfg async_executor_impl="async-std" --cfg async_channel_impl="async-std"'
      RUST_LOG: info
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching

      - name: Test
        run: |
          cargo test --workspace --release --features "no-storage, testing" --no-run
          cargo test --workspace --release --features "no-storage, testing" --verbose -- --test-threads 2
        timeout-minutes: 60
