name: Cargo features

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cargo-features:
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/install-action@cargo-hack

      - name: Checkout Repository
        uses: actions/checkout@v4

      # Note: this job doesn't use a cache on purpose because it mostly compiles
      # the crates in this repo over and over again with different feature
      # combinations. Adding caching would not speed it up much and further
      # contribute to our cache usage.

      # Includes checks for `--no-default-features` and `--all-features` as well
      # as each individual feature enabled.
      - name: Check compilation for feature combinations
        run: |
          cargo hack check --feature-powerset

      - name: Check compilation for feature combinations (--tests)
        run: |
          cargo hack check --feature-powerset --tests
