name: Contracts

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  pull_request:
    branches:
  workflow_dispatch:

env:
  RUST_LOG: info,libp2p=off

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: styfle/cancel-workflow-action@0.11.0
        name: Cancel Outdated Builds
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - uses: actions/checkout@v3
        name: Checkout Repository
        with:
          submodules: recursive
          token: ${{ secrets.ORG_GITHUB_PAT }}

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching

      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com".insteadOf git://github.com
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com".insteadOf ssh://git@github.com

      - name: Format check
        run: forge fmt --check

      - name: Build contracts
        run: forge build --deny-warnings

      - name: Check if bindings up to date
        run: |
          cargo run --bin gen-bindings
          exit $(git status --porcelain | wc -l)

      - name: Run tests
        run: forge test -vvv
