name: Coverage

on:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - main
      - release-*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_RUSTFLAGS: >
    -Z threads=8 -Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests -Cllvm-args=--inline-threshold=0
    -Zpanic_abort_tests -Cdebuginfo=2 --cfg async_executor_impl="async-std" --cfg async_channel_impl="async-std" --cfg
    hotshot_example
  COVERAGE_RUSTDOCFLAGS: >
    -Z threads=8 -Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort
  CARGO_TEST_CMD: >
    cargo +nightly test --locked --all-features --no-fail-fast --release --workspace --exclude contract-bindings
    --exclude gen-vk-contract --exclude hotshot-contract-adapter --exclude diff-test-hotshot

jobs:
  code-coverage:
    runs-on: buildjet-16vcpu-ubuntu-2204
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: dtolnay/rust-toolchain@nightly

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v2

      # Separate build step for easier identification of failures and timings.
      - name: Build tests for coverage
        run: |
          $CARGO_TEST_CMD --no-run
        env:
          # Do not exceed the memory limit of the public github runner during cargo build.
          # CARGO_BUILD_JOBS: "2"
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: ${{ env.COVERAGE_RUSTFLAGS }}
          RUSTDOCFLAGS: ${{ env.COVERAGE_RUSTDOCFLAGS }}
        timeout-minutes: 90

      # TODO investigate why `uint_bytes` fail in coverage runs
      - name: Run tests with coverage
        run: |
          $CARGO_TEST_CMD -- --skip service::test::test_ --skip slow_ --skip uint_bytes
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: ${{ env.COVERAGE_RUSTFLAGS }}
          RUSTDOCFLAGS: ${{ env.COVERAGE_RUSTDOCFLAGS }}
        timeout-minutes: 120

      - uses: alekitto/grcov@v0.2
        with:
          config: .github/grcov.yml
        id: coverage

      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.coverage.outputs.report }}
