name: Slow Tests

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

env:
  PARALLEL: '-Z threads=4'
  RUSTFLAGS: '--cfg async_executor_impl="async-std" --cfg async_channel_impl="async-std"'
  RUST_LOG: info,libp2p=off,node=error

jobs:
  slow-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Fix submodule permissions check
        run: |
          git config --global --add safe.directory '*'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@nextest

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v2

      - name: Build
        # Build test binary with `testing` feature, which requires `hotshot_example` config
        run: |
          export RUSTFLAGS="$RUSTFLAGS $PARALLEL --cfg hotshot_example"
          export PATH="$PWD/target/release:$PATH"
          cargo +nightly build --locked --bin diff-test --release
          cargo +nightly nextest run --locked --release --workspace --all-features --no-run
        timeout-minutes: 90

      - name: Slow Tests
        env:
          CARGO_TERM_COLOR: always
        # Build test binary with `testing` feature, which requires `hotshot_example` config
        run: |
          export RUSTFLAGS="$RUSTFLAGS $PARALLEL --cfg hotshot_example"
          export PATH="$PWD/target/release:$PATH"
          cargo +nightly nextest run --locked --release --workspace --all-features --verbose -E 'test(slow_)'
        timeout-minutes: 25
