name: Slow Test

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

# Build test binary with `testing` feature, which requires `hotshot_example` config
env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info,libp2p=off,node=error

jobs:
  slow-tests-sqlite:
    runs-on: ubuntu-latest
    steps:
      - name: Fix submodule permissions check
        run: |
          git config --global --add safe.directory '*'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: taiki-e/install-action@nextest

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure Environment
        run: PATH="$PWD/target/release:$PATH"

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true

      - name: Build
        run: |
          cargo build --locked --bin diff-test --release
          cargo nextest run --locked --release --workspace --all-features --no-run
        timeout-minutes: 90

      - name: Slow Test
        env:
          NEXTEST_PROFILE: slow
        run: cargo nextest run --locked --release --workspace --all-features --verbose --no-fail-fast --nocapture
        timeout-minutes: 40
  slow-tests-postgres:
    runs-on: ubuntu-latest
    steps:
      - name: Fix submodule permissions check
        run: |
          git config --global --add safe.directory '*'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: taiki-e/install-action@nextest

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure Environment
        run: PATH="$PWD/target/release:$PATH"

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true

      - name: Build
        run: |
          cargo build --locked --bin diff-test --release
          cargo nextest run --locked --release --workspace --features testing --no-run
        timeout-minutes: 90

      - name: Slow Test
        env:
          NEXTEST_PROFILE: slow
        run: cargo nextest run --locked --release --workspace --features testing --verbose --no-fail-fast --nocapture
        timeout-minutes: 40