name: Test Demo Native - Marketplace

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: '--cfg async_executor_impl="async-std" --cfg async_channel_impl="async-std"'
  RUST_LOG: info,libp2p=off,node=error

jobs:
  demo-native-marketplace:
    runs-on: ubuntu-latest
    steps:
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install Nix
        uses: cachix/install-nix-action@V27

      - name: Install process-compose
        run: |
          nix profile install nixpkgs#process-compose

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Enable Rust Caching
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --locked --release

      - name: Test Demo Marketplace
        run: |
          export PATH="$PWD/target/release:$PATH"
          SMOKE_TEST_LOAD_GENERATOR_PORT=$ESPRESSO_SUBMIT_TRANSACTIONS_PRIVATE_FALLBACK_PORT
          set -o pipefail
          scripts/demo-native --tui=false --config process-compose-mp.yml &
          timeout -v 600 scripts/smoke-test-demo | sed -e 's/^/smoke-test: /;'
